<!-- views/pages/about -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
        	<h2>About Best Community Service</h2>
        	<p class="text-justify"><%= aboutText %></p>
        	<br/>
    			<p>The goal of this site is to fulfill the class project requirements for SER416.</p>
    			<br />
    			<b>Author</b>: Jeff Gillispie
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
